/* @import url(./frontend/src/Assets/Library.jpg);

*{
  background-image: url(./frontend/src/Assets/Library.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
} */

.error {
  color: red;
}

