@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.searchButton{
  font-size: 12px;
  padding: 0.25em 0.25em;
}

h1{
  color: steelblue;
  display: flex;
  justify-content: center;
}
.resultsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2px 16px;
  margin-top: 10px;
}

.resultsCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  flex: 1 1 20%;
  margin: 10px;
}

.resultsCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.resultsCard h3 {
  margin: 0;
  font-size: 1rem;
}

.resultsCard img {
  max-width: 100%;
  height: auto;
}

.resultsCard > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Description{
  font-size: var(--sm-text);
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2px 16px;
  margin-top: 10px;
}